body{
  font-family: 'Inter', sans-serif;
    /* padding: 1px ; */
    margin: 0;
    overflow-x: hidden;
    /* height: 1080px; */
    display: flex;
    flex-direction: column;

}
::-webkit-scrollbar
{
background-color:#000000;
}
::-webkit-scrollbar-thumb
{
background-color: #6f6f6f ;
}

*.bottom,*.right,*.left{
  opacity: 0;
}
*.slide-in-right{
  animation: 1s slideRight ease-out forwards;
}
*.slide-in-left{
  animation: 1s slideLeft ease-out forwards;
}
*.slide-in-bottom{
  animation: 1s slideBottom ease-out forwards;
}
input{
  display: none;
}
p{
  margin: 0;
}
:root{
  cursor: default;
  font-family: 'Inter', sans-serif;
}
label{
  cursor: pointer;
}
.main-bar{
  height: 80px;
  width: 100%;
   display: flex ;
    justify-content: space-evenly;
  border-bottom: solid #B5B5B5 1px;
  background-color: white;
  z-index: 9999;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
textarea.text-search:valid,
textarea.text-search:focus{
  border: solid 1px black;
}
textarea.text-search:focus ~ .placeholder,
textarea.text-search:valid ~ .placeholder
{
  transform: translate(-15px, -24px) !important;
}
textarea.text-search:focus ~ .se-icon,
textarea.text-search:valid ~ .se-icon{
  transform: translateX(20px);
  transition-duration: 0.5s;
  transition-delay: 0.1s ;
}
div.logo >img{
  cursor: pointer;
}
div.logo{
  display: flex;
  justify-content: center;
  align-items: center ;
}
.search-box .placeholder{
  top: 16px !important;
    left: 40px !important;
}
.search-box .text-search{
  min-width: 70% !important;
  max-width: 70% !important;
  min-height: 30px;
  max-height: 30px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 10px 10px 10px 80px;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  color: black;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
  line-height: 1.5;
}
.search img{
  position: absolute;
    z-index: 1;
    top: 15px;
    left: 5px;
    translate: 2px -2px;
}
.search .search-box{
  position: relative;
  min-width: 100%;
  max-width: 100%;
}
.search{
  min-width: 20%;
  max-width: 20%;
}
.main-bar .search{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.main-bar .pages{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pages p{
  color: #4e4e4e;
  cursor: pointer;
}
.pages p:hover{
  color: #000000;
}
.pages .active{
  color: black;
}
.main-bar .icons img{
  cursor: pointer;
}
.main-bar .icons{
  display: flex;
      justify-content: space-around;
      width: 6%;
      align-items: center;
}
.section-two,
.section-one{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 40px 0px; */
}
.product{
  
    /* height: 670px; */
    display: flex;
    align-items: center;
    margin: 25px;
    /* width: 1450px; */
    justify-content: space-evenly;
}
.photos{
    display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 40%;
  /* margin-right: 25px; */
  height: 500px;
  opacity: 0;
  justify-content: end;
}
.photos.slide-in-left{
  animation:slideLeft  1s ease-out forwards;
}
.outside_photos img{
    position: absolute;

}
.outside_photos img{
  max-width: 350px;
  max-height: 350px;
  min-width: 300px;
  min-height: 300px;
}
.outside_photos input:checked + img{
  z-index: 12;
}
.outside_photos{
    width: 400px;
    height: 400px;
    display: flex;
  justify-content: center;
}
.side_imgs img{
    width: 100px;
    height: 100px;
    filter:  opacity(0.7);
    transition-duration: 5s;
}
.side_imgs{
    align-items: flex-end;
  display: flex;
  z-index: 99999999999;
  width: 100px;
  flex-direction: column;
  justify-content: space-around;
  /* height: 430px; */
}
.colors input,
.side_imgs input,
.description .type input{
  display: none;
}
.side_imgs input:checked + label img{
  filter: blur(0px);
  transition-duration: 5s;
  
}

.buying{
    width: 45%;
    /* height: 580px; */
    opacity: 0;
}
.buying.slide-in-right{
  animation: slideRight 1s ease-out forwards;
}
/* .description span,
.description div{
    width: 100%;
} */ 
 
.description{
    display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.description .device{
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.description .price{
    font-size: 22px;
    width: 100%;
    font-weight: 600;
    margin: 10px 0px 0px;
    display: flex
;
    align-items: center;
    
}
.price s{
  font-size: 18px;
  font-weight: 500;
  color: #A0a0a0;
  margin: 0px 6px;  
}
.colors span{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.colors{
    margin: 5px 0px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 10px  0px;
}
.cyrcles{
    display: flex;
    justify-content: space-around;
    width: 20%;
    gap: 5px;
  }

.cyrcles span{
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
}
.colors input:checked +label{
  transform: scale(110%);
  /* transition-duration: 0.5s; */
  border-radius: 50%;
}
.type{
    width: 100%;
  display: flex;
  gap: 15px;
}
.type span{
    width: 85px;
    border-style: solid;
    border-color: #d5d5d5;
    color: #6f6f6f;
    font-weight: 600
;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 15px; */
}
.type input:checked + label span{
  border-style: solid;
  border-color: black;
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
.small-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.small-details >span{
  padding: 16px;
    background-color: #f4f4f4;
    color: #a7a7a7;
  width: 23.5%;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}
.small-details >span span{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p.ico{
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-details span p{
  color: #4e4e4e;
  font-weight: 600;
  font-size: 15px;
}
.description .text{
    font-size: 18px;
  color: #6c6c6c;
}
.description .buttons a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48.5%;
    padding: 21px 0px;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: 600;
}
.buttons{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}
.buttons .buy{
  color: black;
  border: solid black 2px;
  transition-duration: 0.5s;
}

.buy:hover{
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}

.buttons .cart{
  background-color: black ;
  border: solid black 2px;
  color: white;
  transition-duration: 0.5s;
}
.other .bttn:hover,
.cart:hover{
  background-color: white;
  color: black;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.features{
  display: flex;
      width: 100%;
      justify-content: space-between;
}
.features .box{
  display: flex
  ;
      flex-wrap: wrap;
}
.txt{
  color: black;
  margin-left: 5px;
  font-weight: 600;
}
.box .txt .up{
  color: #717171;
  margin: 8px;
}
.box .txt .under{
  margin-left: 8px;
  
}

/* Section two */
.section-two{
  background-color: #fafafa;
  padding: 70px;
}
.details{
  opacity: 0;
  /* width: 1450px; */
  background-color: white;
  padding: 50px;
  display: flex
;
  flex-direction: column;
  justify-content: space-around;
}
.details.slide-in-bottom{
  animation: slideBottom 1s ease-out forwards;
}
.address{
  font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
}
.s{
  color: #9D9D9D;
  line-height: 24px;
  margin: 10px 0px;
}
.small_add{
  font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 10px 0 0;
}
.sections{
  padding: 0px 0px 10px;
    display: flex
;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #cdcdcd;
    margin: 30px 0px;
    font-weight: 500;
}
.value{
  font-size: 15px;
  font-weight: mediem;
}
a{
  text-decoration: none;
}
span.more{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
span.more a{
  border: solid #545454 2px;
    padding: 10px 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: black;
}
span.more a:hover{
  background-color: black;
  transition-duration: 0.7s;
  color: white;
}
.more a:hover .icon{
  border-color: white;
  transition: 0.7s;
}
.more .icon{
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  border-color: black;
  rotate: 45deg;
  margin-bottom: 5px;
  margin-left: 8px;
}
.arrow{
  margin-left: 5px;
}
p.ico img{
  width: 24px;
  height: 24px;
}
/* section three */
.section-three{
  margin: 40px 100px;
  /* padding: 40px;  */
  /* width: 100%; */
}

/* Overall Rating */
.overall{
/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 60px;
width: 100%;
/* height: 192px; */
margin: 30px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* Overall Rating */
.rate{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 32px;
justify-content: center;
gap: 16px;

width: 184px;
height: 192px;

background: #FAFAFA;
border-radius: 25px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.rate span{
  /* 4.8 */


height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 56px;
/* identical to box height, or 100% */
text-align: center;

/* Main/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.rate p:first-of-type{
  /* of 125 reviews */


height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 16px;
/* identical to box height, or 107% */
text-align: center;

/* Main/Black */
color: #000000;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
div.stars{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 120px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
.cont{
  order: 2;
  width: 100%;
  display: flex
;
  justify-content: center;
  align-items: center;
}
/* Star 1 */
p.stars{
margin: 0 auto;
width: 24px;
height: 24px;

/* Auxiliary/Orange Stars */
background: #FFB547;
border-radius: 1.72519px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.schedule{
  /* Schedule */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

/* width: 876px; */
min-width: 390px;
height: 176px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


}
.schedule .level
{
  /* level */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 876px;
height: 16px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
width: 100%;

}
.schedule .level .txt{
  /* Excellent */

width: 150px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
/* identical to box height, or 89% */

/* Main/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.schedule .level .bar
{
  /* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

height: 5px;

background: #D9D9D9;
border-radius: 16px;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}
.bar .percent{
  /* Rectangle 39 */

height: 5px;

background: #FFB547;
border-radius: 16px;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.level .number{
/* Reviews */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 30px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #000000;
text-align: right;
opacity: 0.4;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 40px;
  max-height: 40px;
  border-radius: 8px;
  border: 1px solid #cecece;
  padding: 10px 25px;
  font-size: 16px;
  overflow: hidden;
  color: #979797;
  transition: all 0.3s ease;
}
.form{
  position: relative;
}
textarea:focus,
textarea:valid{
  border: solid 1px #000000;
}
.placeholder {
  position: absolute;
  top: 20px;
  left: 22px;
  cursor: default;
  color: #979797;
}
textarea:focus ~ .placeholder,
textarea:valid ~ .placeholder
{
    color: black;
    font-weight: 500;
    transition: 0.5s;
    font-size: 12px;
    padding: 1px 9px;
    border-radius: 15px;
    border: black solid 1px;
    background-color: white;
    transform: translate(-8px, -28px) ;
}
.form{
  margin-bottom: 15px;
}

 .comments{
margin: 40px 100px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 28px 24px 16px;
gap: 40px;

/* width: 100%; */
/* height: 208px; */

background: #FAFAFA;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.comment{
  display: flex
  ;
  min-height: 185px;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      border-bottom: solid 1px #7e7e7e8f;
}
.comment>.user,
.comment>.user img{
  /* User Pic */

width: 56px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin-right: 15px;
border-radius: 50%;

}
.comment .content{
  /* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

/* width: 1001px; */
min-height: 160px;
max-width: 90%;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}
.content .top{
  /* Title+Stars */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 100%;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.top .name-date{
/* Title+Data */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 74px;

width: 100%;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.name-date{
  /* Grace Carey */

margin: 0 auto;
width: 100%;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */
display: flex;
align-items: center;

/* Main/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.name-date .date{

width: 114px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
text-align: right;

/* Main/Black */
color: #000000;

opacity: 0.2;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.com-stars{
  /* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
    align-items: center;
    gap: 5px;
padding: 0px;

width: 16%;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.com-stars img{
  /* Star 1 */

width: 24px;
height: 24px;


border-radius: 1.72519px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -0.862595px;

}
.content .com-txt{
width: 100%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* or 160% */
line-height: 1.5;

color: #7E7E7E;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* Section Four  */
.section-four {
  margin: 60px;
}
.other{
  /* Row */

/* Auto layout */
/* display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start; */
padding: 0px;
gap: 16px;
display: grid;
column-gap: 50px;
grid-template-columns: repeat(4, 22%);

/* width: 1120px;
height: 432px; */


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.other .oth-product{
margin-top: 15px;
display: flex;
flex-direction: column;
align-items: center;
padding: 24px 16px;
gap: 16px;
width: 100%;


background: #F7F7F7;
border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}
.oth-product .top{
  /* Top Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;
position: relative;

/* width: 236px;
height: 32px; */


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.oth-product .top img{
  /* Icon/32px/Like */

/* width: 32px;
height: 32px; */


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;

}
.oth-product >img{
  /* Icon/32px/Like */

/* width: 32px;
height: 32px; */


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
height: 160px;

}
.txt-button{
  /* Text+Icon */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

/* width: 236px;
height: 160px; */


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
.txt-button .name{
  /* Apple iPhone 14 Pro Max 128GB Deep Purple (MQ9T3RX/A) */

/* width: 236px;
height: 48px; */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;

/* Main/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.txt-button .price{
  /* $1399 */

/* width: 236px;
height: 24px; */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
text-align: center;
letter-spacing: 0.03em;

/* Main/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.txt-button .bttn{
  /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 64px;
gap: 8px;

/* width: 188px;
height: 48px; */

/* Main/Black */
background: #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;
color: white;
border: solid 1px black;
}
.none{
  position: absolute;
  opacity: 0;
}
#heart{
  display: none;
}
#heart2:checked + img,
#heart3:checked + img,
#heart4:checked + img,
#heart:checked + img{
  opacity: 0;
  transition-duration: 0.5s;
  }

#heart2:checked +img+ .none,
#heart3:checked +img+ .none,
#heart4:checked +img+ .none,
#heart:checked +img+.none{

  opacity: 0.9;
  transition-duration: 0.5s;
}

.oth-product .top label{
  display: flex;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%); /* Start off the screen */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End at normal position */
    opacity: 1;
  }
}

/* Define the animation for sliding from the bottom */
@keyframes slideLeft {
  0% {
    transform: translateX(-100%); /* Start off below the screen */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End at normal position */
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(100%); /* Start off below the screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at normal position */
    opacity: 1;
  }
}
footer{
  height: 20vh;
    display: flex
;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #000000;
    color: white  ;
    width: 100%;
    
}
footer .us{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
@media(max-width: 1199px){
  .main-bar .pages{
    display: none;
  }
  .product{
    flex-direction: column;
    width: 100%;
  }
  .description{
    gap: 10px;
  }
  .type{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .type span {
    padding: 8px;
    font-size: 14px;
  }
  .buying{
    width: 100%;
  }
  .cyrcles{
    width: 16%;
  }
  .small-details span p{
    font-size: 13px;
  }
  .small-details {
    justify-content: flex-start ;
    align-items: center ;
    
  }
  .small-details>span{
    width: 30%;
    /* padding: 0  ; */
    margin: 0;
    padding: 10px;
        height: 54px;
  }
  .features .box{
    justify-content: center   ;
  }
  .photos{
    width: 100%;
    justify-content: center;
    flex-direction: column    ;
  }
  .side_imgs{
    flex-direction: row;
    justify-content: center;
  }
  .value{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }
  .sections{
    gap: 10px;
  }
  .overall{
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .overall .schedule{
    width: 100%;
  }
  .form textarea{
    max-width: 93%;
    min-width: 93%;
  }
  .comments{
    margin: 20px;
  }
  .content .com-txt{
    font-size: 14px;
    overflow: hidden;
    /* height: 180px; */
  }
  .other{
    grid-template-columns: repeat(2,46%);
    grid-template-rows: repeat(2,49%);
  }
}
@media(max-width:650px) {
  .side_imgs img {
    width: 80px;
    height: 80px;}
  .main-bar .search{
    display: none;
  }
  .main-bar{
    justify-content: space-between;
  }
  .main-bar .icons{
    width: 30%;
  }
  .type{
    justify-content:center;
    gap: 8px;
  }
  .colors{
     gap: 10px;
  }
  .small-details>span{
    font-size: 15px;
  }
  span.more a{
    padding: 10px 20px;
  }
  label[for="forth"]{
    display: none;
  }
  .description .buttons{
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .description .buttons a{
    width: 43.5%;
  }
  .small-details {
    justify-content: center;
    align-items: center;
}
  .schedule{
    min-width: 340px;
  }
  .content .com-txt{
    height: 140px;
    line-height: 1.65;
    width: 86%;
  }
  .content .top{
    width: 90%;
  }
  .comments{
    margin: 0;
    padding: 0;
  }
  .top .name-date{
    gap: 0px;
    margin: 0;
    width: 86%;
    align-items: center;
  }
  .name-date .date{
    font-size: 12px;
  }
  .name-date .name{
    font-size: 14px;
  }
  .txt-button .bttn{
    padding: 12px 50px;
  }
  .section-four{
    margin: 0;
  }
  .comment{
    width: 92%;
  }
  .other{
    column-gap: 40px;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(2,49%);
  }
  .other .oth-product{
    padding: 10px;
  }
  .accounts{
    display: flex;
    flex-direction: column;
  }

}